NEXT_PUBLIC_API_URL=http://localhost:5000/api
MONGODB_URI=mongodb://127.0.0.1:27017/josh-english-academy
JWT_SECRET=change_me_securely
ADMIN_EMAIL=admin@joshenglishacademy.com
ADMIN_PASSWORD=123456
CLIENT_URL=http://localhost:3000
PORT=5000
NODE_ENV=development
